__pycache__/
opencv/
.idea/
*.pyc
PIGPIO/
neural_network_training/training_data/*
neural_network_training/neural_networks/*
negative_images/*
negative_images*
positive_images/*
positive_images*
*.swp
testing/sample_image.jpg
